ruby:

  components = {
    domains:   [
      {
        name:   'Kit::Auth',
        desc:   "Authentication & authorization out of the box.",
        href:   'https://github.com/rubykit/kit/tree/master/domains/kit-auth',
        status: {
          value: 40,
          icon:  '😭',
        },
      },
      {
        name:   'Kit::Geolocation',
        desc:   'Static & dynamic ip based geolocation.',
        href:   'https://github.com/rubykit/kit/tree/master/domains/kit-geolocation',
        status: {
          value: 'Research',
          icon:  '🧪',
        },
      },
      {
        name:   'Kit::Payment',
        desc:   'Everything you need to collect money.',
        href:   'https://github.com/rubykit/kit/tree/master/domains/kit-payment',
        status: {
          value: 'Research',
          icon:  '🧪',
        },
      },
    ],
    libs_code: [
      {
        name:   'Kit::Organizer',
        desc:   'Handles code flow.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-organizer',
        status: {
          value: 100,
          icon:  '🎉',
        },
      },
      {
        name:   'Kit::Contract',
        desc:   'Validations for all your data.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-organizer',
        status: {
          value: 80,
          icon:  '😓',
        },
      },
      {
        name:   'Kit::Error',
        desc:   'Universal error handling in your code.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-error',
        status: {
          value: 60,
          icon:  '😓',
        },
      },
      {
        name:   'Kit::Doc::Yard',
        desc:   'Generates ExDoc like documentation through Yard.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-doc-yard',
        status: {
          value: 100,
          icon:  '🎉',
        },
      },
    ],
    libs_domains:   [
      {
        name:   'Kit::Domain',
        desc:   'Build your own domains.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-domain',
        status: {
          value: 50,
          icon:  '😓',
        },
      },
      {
        name:   'Kit::AppContainer',
        desc:   'Expose your domains to the world or each-other.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-app-container',
        status: {
          value: 80,
          icon:  '😓',
        },
      },
      {
        name:   'Kit::Router',
        desc:   'Decouples transport from your controllers.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-router',
        status: {
          value: 40,
          icon:  '😭',
        },
      },
      {
        name:   'Kit::JsonApi',
        desc:   'An extensive JSON:API server implementation.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-json-api',
        status: {
          value: 60,
          icon:  '😓',
        },
      },
      {
        name:   'Kit::Admin',
        desc:   'Admin webapp for your domain.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-active-admin',
        status: {
          value: 0,
          icon:  '😭',
        },
      },
    ],
    libs_utilities: [
      {
        name:   'Kit::Config',
        desc:   'Extensible configuration management system.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-dotenv',
        status: {
          value: 0,
          icon:  '😭',
        },
      },
      {
        name:   'Kit::Pagination',
        desc:   'Absolute set pagination.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-pagination',
        status: {
          value: 100,
          icon:  '🎉',
        },
      },
      {
        name:   'Kit::Store',
        desc:   'In memory database. Brings Microsoft LINQ features to Ruby.',
        href:   'https://github.com/rubykit/kit/tree/master/libraries/kit-store',
        status: {
          value: 'Research',
          icon:  '🧪',
        },
      },
    ],
  }

section#roadmap.py-5
  .container-lg
    .row
      .col-12
        h2.position-relative
          ' The road to
          span.text-monospace.text-primary
            | v0.1.0
          a.hover-link href="#roadmap"
            span.icon-link aria-hidden="true"
            span.sr-only
              | Link to this section
          .links
            a.learn-more href='https://github.com/rubykit/kit/milestone/1' target='_blank'
              | GitHub Milestone
            a.learn-more href='https://github.com/rubykit/kit/projects/1' target='_blank'
              | GitHub Project
        p.mb-0
          | The first usable release is a work in progress.
        p.mb-0
          | Here is an overview of some of the components we are working on.

  // Domains -------------------------------------------------------------------
  .container-lg.mt-5
    .row#roadmap-domains
      .col-12
        h3.position-relative
          | Domains
          a.hover-link href="#roadmap-domains"
            span.icon-link aria-hidden="true"
            span.sr-only
              | Link to this section
          /a.learn-more href='#' target='_blank'
            | Learn more about domains
        p.mb-0
          ' Fully-fledged domains included in
          span.text-monospace.text-primary Kit
          | .

    - framework_components_list = components[:domains]
    include src/content/partials/_framework_components_grid

  // Code organization ---------------------------------------------------------
  .container-lg.mt-5
    .row#roadmap-libraries-code
      .col-12
        h3.position-relative
          | Code related libraries
          a.hover-link href="#roadmap-libraries-code"
            span.icon-link aria-hidden="true"
            span.sr-only
              | Link to this section
          /a.learn-more href='#' target='_blank'
            | Learn more about how we write code
        p.mb-0
          | How we make clean, readable & documented code.

    - framework_components_list = components[:libs_code]
    include src/content/partials/_framework_components_grid

  // Libraries -----------------------------------------------------------------
  .container-lg.mt-5
    .row#roadmap-libraries-domains
      .col-12
        h3.position-relative
          | Domains libraries
          a.hover-link href="#roadmap-libraries-domains"
            span.icon-link aria-hidden="true"
            span.sr-only
              | Link to this section
        p.mb-0
          | What lets us design domains.

    - framework_components_list = components[:libs_domains]
    include src/content/partials/_framework_components_grid

  // Libraries -----------------------------------------------------------------
  .container-lg.mt-5
    .row#roadmap-libraries-utilities
      .col-12
        h3.position-relative
          | Utilities libraries
          a.hover-link href="#roadmap-libraries-utilities"
            span.icon-link aria-hidden="true"
            span.sr-only
              | Link to this section
        p.mb-0
          | Various libs we rely on.

    - framework_components_list = components[:libs_utilities]
    include src/content/partials/_framework_components_grid