body.debug-media-queries {

  &::before {
    position:   fixed;
    top:        0;
    left:       0;
    z-index:    9999999;
    content:    "xs";
    background: #000;
    color:      #fff;
  }

}

@each $name in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($name) {
    $min-width: breakpoint-min($name, $grid-breakpoints);
    $max-width: breakpoint-max($name, $grid-breakpoints);

    body.debug-media-queries {
      &::before {
        content: "#{$min-width} < #{$name} < #{$max-width}";
      }
    }
  }
}