@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-text.min.css");

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?h5z89e');
  src:url('../fonts/icomoon.eot?#iefixh5z89e') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?h5z89e') format('truetype'),
  url('../fonts/icomoon.woff?h5z89e') format('woff'),
  url('../fonts/icomoon.svg?h5z89e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
