$font-family-sans-serif: 'Lato', sans-serif !default;
$font-family-monospace:  'Inconsolata', monospace !default;

$font-weight-light:      100;
$font-weight-normal:     300;
$font-weight-bold:       500;

$primary:                #bf2e19;
$text-muted:             #d2d2d2;
$dark:                   #2d2a2e;

//$link-color:             $text-muted;
