@use 'sass:list';
@use 'sass:map';

// Bootstrap setup -------------------------------------------------------------

@import '../../../node_modules/bootstrap/scss/_functions';
@import '../../../node_modules/@rubykit/kit_theme_bootstrap/app/assets/stylesheets/kit_theme_bootstrap/theme/functions';

@import '_variables';
@import '../../../node_modules/@rubykit/kit_theme_bootstrap/app/assets/stylesheets/kit_theme_bootstrap/theme/variables/bootstrap';
@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/@rubykit/kit_theme_bootstrap/app/assets/stylesheets/kit_theme_bootstrap/theme/variables/kit';

@import '../../../node_modules/bootstrap/scss/bootstrap';

@import '../../../node_modules/@rubykit/kit_theme_bootstrap/app/assets/stylesheets/kit_theme_bootstrap/theme/mixins';
@import '../../../node_modules/@rubykit/kit_theme_bootstrap/app/assets/stylesheets/kit_theme_bootstrap/theme/components';
@import '../../../node_modules/@rubykit/kit_theme_bootstrap/app/assets/stylesheets/kit_theme_bootstrap/theme/utilities';
@import '../../../node_modules/@rubykit/kit_theme_bootstrap/app/assets/stylesheets/kit_theme_bootstrap/theme/vendor';


// General setup ---------------------------------------------------------------

body {
  letter-spacing: 0.5px;
}

.text-kit {
  background: -webkit-linear-gradient(#de3f24 60%, #820c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-dark {
  color: white;
}

a {
  text-decoration: none !important;
}

.text-header {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

i {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;

  a.hover-link {
    position:        absolute;
    transition:      opacity .3s ease-in-out;
    display:         inline-block;
    opacity:         0;
    line-height:     inherit;
    margin-left:     -1.5em;
    width:           1.5em;
    text-decoration: none;
    border:          none;
    font-size:       16px;
    color:           $text-muted;
    height:          100%;
    top:             calc(50% - 8px);
    left:            0;
  }

  &:hover {
    a.hover-link {
      opacity:         1;
      text-decoration: none;
      color:           $text-muted;
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtms-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sr-only {
  position: absolute;
  width:    1px;
  height:   1px;
  padding:  0;
  margin:   -1px;
  overflow: hidden;
  clip:     rect(0,0,0,0);
  border:   0;
}

// Our theme -------------------------------------------------------------------

@import '_fonts';
@import '_icons';
@import '_framework_components';

@import 'header';
@import 'footer';

@import 'components';
