@use 'sass:list';
@use 'sass:map';

// Bootstrap setup -------------------------------------------------------------

@import '../../../node_modules/bootstrap/scss/_functions';
@import '_variables';
@import "../../../node_modules/bootstrap/scss/bootstrap";

// General setup ---------------------------------------------------------------

body {
  letter-spacing: 0.5px;
}

.bg-dark {
  color: white;
}

a {
  text-decoration: none !important;
}

i {
  font-style: normal;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 960px;
  }
}

h1, h2, h3, h4, h5, h6 {
  position: relative;

  a.hover-link {
    position:        absolute;
    transition:      opacity .3s ease-in-out;
    display:         inline-block;
    opacity:         0;
    line-height:     inherit;
    margin-left:     -1.5em;
    width:           1.5em;
    text-decoration: none;
    border:          none;
    font-size:       16px;
    color:           $text-muted;
    height:          100%;
    top:             calc(50% - 8px);
    left:            0;
  }

  &:hover {
    a.hover-link {
      opacity:         1;
      text-decoration: none;
      color:           $text-muted;
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sr-only {
  position: absolute;
  width:    1px;
  height:   1px;
  padding:  0;
  margin:   -1px;
  overflow: hidden;
  clip:     rect(0,0,0,0);
  border:   0;
}

// Our theme -------------------------------------------------------------------

@import '_fonts';
@import '_icons';
@import '_framework_components';
@import '_debug';

@import 'header';
@import 'manifesto';
@import 'roadmap';
@import 'footer';
