#manifesto {

  a {
    color: #7e7e7e;
    &:hover {
      opacity: 0.6;
    }
  }

  ol {
    counter-reset: list-counter;
    list-style:    none;

    $left-margin:  2.5rem;

    li {
      position:          relative;
      margin-left:       $left-margin;
      margin-top:        $left-margin;
      counter-increment: list-counter;

      &::before {
        position:     absolute;
        --size:       #{$left-margin};
        left:         calc(-1 * var(--size));

        @extend       .text-monospace;
        @extend       .font-weight-bold;
        @extend       .text-primary;

        font-size:    1.5rem;
        line-height:  1;
        content:      "0" counter(list-counter);
      }
    }
  }

  .text-framework-component {
    @extend      .text-monospace;
    font-weight: 400;
  }

  a.hover-link {
    margin-left: -4.5em;
    width: 4.5em;
    top: 4px;
  }

}
