footer.bg-dark
  .container
    .row.pt-4.pb-4
      .col-md-12.text-center

        p.small.ff-ms.mt-3.mb-0
          ' Built with
          span.ff-emoji
            ' ❤️
          ' and a
          span.ff-emoji
            ' 🇫🇷
          | accent.
