footer
  .container.mb-4
    .row
      .col-md-12.text-center

        p.small.ff-ms.mb-0
          ' Built with
          span.font-emoji.me-2
            | ❤️
          ' and a
          span.font-emoji.me-2.position-relative style='top: 1px;'
            | 🇫🇷
          | accent.
