footer.bg-dark
  .container
    .row.pt-4.pb-4
      .col-md-12.text-center

        p.my-0
          ' Want to connect? Join us on
          a href='https://discord.gg/9UbGzdq' target='_blank'
            img.discord-link src='https://discord.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg' target='_blank' title='Discord'

        p.small.text-monospace.mt-3.mb-0
          ' Built with
          i
            ' ❤️
          ' and a
          i
            ' 🇫🇷
          | accent.