ruby:
  title          = 'RubyKit Framework'
  description    = 'Kit is a Ruby web-framework that helps you build growth-ready applications fast, using powerful patterns.'
  base_url       = 'https://rubykit.org'
  logo           = "#{ base_url }/assets/images/rubykit-framework-logo.png"
  twitter_handle = '@rubykit_framework'

title = title

meta charset="utf-8"
meta name="viewport"            content="width=device-width, initial-scale=1, shrink-to-fit=no"
meta name="description"         content=description

meta name="twitter:card"        content="summary"
meta name="twitter:site"        content=twitter_handle
meta name="twitter:title"       content=title
meta name="twitter:description" content=description
meta name="twitter:image"       content=logo

meta property="og:title"        content=title
meta property="og:type"         content="website"
meta property="og:url"          content=base_url
meta property="og:image"        content=logo
meta property="og:description"  content=description
meta property="og:site_name"    content=title

link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"
link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png"
link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png"
link rel="manifest"  href="/assets/favicon/site.webmanifest"
link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg"

link rel="stylesheet" href="assets/css/application.css"
